/* start header section*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
#Navigation{
    background:#072640;
    height: 80px;
    width: 100%;
}
.logo {
    color:#050c03;
    font-size:60px;
    padding: 0 100px;
    line-height: 65px;
    font-family: 'Dancing Script', cursive;
}
.logo span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}
.logo span:nth-child(1){
    animation-delay: 0s;
}
.logo span:nth-child(2){
    animation-delay:.25s;
}
.logo span:nth-child(3){
    animation-delay: .50s;
}
.logo span:nth-child(4){
    animation-delay:0.75s;
}
.logo span:nth-child(5){
    animation-delay:1s;
}
.logo span:nth-child(6){
    animation-delay:1.25s;
}
.logo span:nth-child(7){
    animation-delay:1.50s;
}
.logo span:nth-child(8){
    animation-delay:1.75s;
}
.logo span:nth-child(9){
    animation-delay:2s;
}
.logo span:nth-child(10){
    animation-delay:2.25s;
}
.logo span:nth-child(11){
    animation-delay:2.50s;
}
.logo span:nth-child(12){
    animation-delay:2.75s;
}
.logo span:nth-child(13){
    animation-delay:3s;
}
.logo span:nth-child(14){
    animation-delay:3.25s;
}
.logo span:nth-child(15){
    animation-delay: 3.50s;
}
.logo span:nth-child(16){
    animation-delay: 3.75s;
}
@keyframes animate{
    0%,100%{
        color: #fff;
        filter:blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow:none;
    }
}

#NavBar ul{
    float: right;
    margin-right: 20px;
}
#NavBar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
#NavBar ul li a{
    font-size: 20px;
    color:white;
    text-transform: uppercase;
    padding: 7px 13px;
}
#NavBar ul li a.active,#NavBar ul li a:hover{
    color:hsl(14deg 100% 50%);
    transition: .8s;  
}
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
}
#check{
    display: none;
}
@media screen and (max-width:952px){
    .logo{
        font-size: 25px;
        padding-left: 30px;
    }
    #NavBar ul li a{
        font-size: 17px;

    }
}
@media screen and (max-width:752px){
    .checkbtn{
        display: block;
    }
    .logo{
        font-size:41px;
        padding-left:45px;

    }
    #NavBar ul{
        position: fixed;
        width: 100%;
        height: 100hv;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
       
    }
    #NavBar ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    #NavBar ul li a{
        font-size: 20px;
    }
    #NavBar ul li a.active,#NavBar ul li a:hover{
        color:#0082e6;
    }
    #check:checked~ul{
        left: 0;
    }
}
#Banner{
    width: 100%;
    height: 100vh;
    position:relative;
    background:
    linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
     url(images/aclt426-pj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    position: absolute;
    left:320px;
    width:60%;
    text-align: center;
    margin: 160px auto 0;
    color:black;
    line-height:70px;
}
.content h3{
    text-transform: capitalize;
    font-size: 30px;
    font-family:'Asap Condensed', sans-serif;
    letter-spacing: 3px;
    color: #afafaf;
}
.content h1{
    color: #80735c;
    text-transform: uppercase;
    font-size:50px;
    font-family:  'Playball', cursive;
    letter-spacing:18px;
}
.content h1 span{
    color: orangered;
}

/*End Header section*/
/*start since section*/
.company{
    width:950px;
    height: 120px;
    background:#012641;
    display: flex;
    margin:auto;
    z-index:1;
    position:relative;
    margin-top: -30px;
    margin-bottom: -30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 17px 20px 5px;

}
.company h1 {
    width:650px;
    text-transform: uppercase;
    padding: 45px 30px;
    font-family: arial;
    font-size: 20px;
    color:#ffffff;
}

.company a{
    position: relative;
    text-align: center;
    justify-content: end;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size:20px;
    margin-left: 100px;
    height: 28px;
    margin-top: 35px;
    color:#ff5722;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    font-family: arial;

}
.company a:nth-child(1){
    filter: hue-rotate(115deg);
}
.company a:hover{
    color: #111;
    background:#ff5722;
    border-radius: 5px;
    box-shadow: 0 0 50px #ff5722;
    transition-delay:0.5s;
}
.company a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff5722;
    border-left: 2px solid #ff5722;
    transition:0.5s;
    transition-delay: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);

}
.company a:hover:before{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;

}
.company a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ff5722;
    border-right: 2px solid #ff5722;
    transition: 0.5s;
    transition-delay: 0.5s;

}
.company a:hover:after{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
}

/*End since section*/
/* start our services section*/
#main-heading{
    background:#ffffff;
    padding: 30px;
}
#main-heading h1 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid orangered;
    width: 280px;
    margin-left: 510px;
    padding: 10px 0px 0px 0px;
    border-radius: 3px;
}
#allBlock{
    width: 100%;
    background: #6b6b57;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 2px solid olive;
 }
 #mainIcon{
     margin-top:50px;
 }
  #allBlock h2 {
     width: 290px;
     margin-left:515px;
     font-size: 33px;
     color:#000000;
     padding:10px;
     font-weight: bold;
     text-transform: uppercase;
     border-bottom: 2px solid#bec700;
     line-height: 12px;
     border-radius: 4px;
     padding-top: 70px;
 } 
 .allIcons{
    background:#d0bbbb85;
    width:415px;
    border: 1px solid #d0bbbb85;
    border-radius: 2px;
    box-shadow:2px 6px 16px 9px #6d3c3cc2;
    overflow: hidden;
    margin-left:20px;
    display:inline-block;
    padding: 12px;
    animation-name:xoom;
    animation-duration: 1s;
    margin-bottom:20px;
 }
 .icon{
   width: 45px;
 }
 .head {
    width: 282px;
    float: right;
    margin-top: 0px;
    margin-right: 46px;
    /* display: flex; */
    height: 176px;
}
 .icon a{
     color:#11686be8;
     font-size: 58px;
     float:left;
     margin-top: 40px;
 }
 .icon:hover a{
     color: tomato;
 }
 .head h3{
     text-transform: uppercase;
     font-family: arial black;
     margin-bottom: 10px;
     text-align:center;
 }
 .head:hover h3{
     color:#FF5722;
     text-align:start;
 }
 .head p{
     text-align:justify;
     text-transform: capitalize;
     width: 300px;
 }
  .allIcons:hover{
            background:#101720;
            transform:scale(1.1);
            transition: all 1s;
            cursor: pointer;
            color: white;
 }
 @keyframes xoom{
      from {transform:scale(0.1)}
      to {transform:scale(1)}
 }
 #Block2{
     width: 350px;
 } 
 #allBlock h2 span{
     color: orangered;
 }
 /*End our service section*/
 

 /* start working tite*/
  #banner{
     background: #191414;
     height: 670px;
     background-repeat:no-repeat;
     background-size: cover;
     padding: 30px;
}
#banner h1{
    box-sizing: border-box;
    font-size:35px;
    color:#ff5722;
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 15px;
}
#banner h1 span{
    color: white;
    border-bottom: 2px solid #FF5722;
}
.main-Banner{
    box-sizing: border-box;
    display: flex;
}
.banner-Img{
    width: 350px;
    height:400px;
    margin:30px;
    position: relative;

}
.banner-Img:hover img{
    box-shadow:4px 13px 10px 3px ;
    transform: scale(1.1);
    opacity: 1;
}
.banner-Img img{
    width:85%;
    height:108%;
    margin:15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px #3E314A;
    border-radius:40px;
    border-bottom: 40px solid;
    border: 5px solid;
    margin-left: 60px;
    cursor: pointer;
    opacity:0.7;
    transition: 1s;
    transition-delay: .8s;

}
.text{
    box-shadow: 2px 5px 18px -7px #3c2828;
    font-size: 25px;
    color:white;
    position: absolute;
    top:405px;
    left:154px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}
}
.text:hover{
    background: #00273a;
    color: white;
    border-radius: 5px;
    transform:scale(.9);
}
 /*End working tite*/
/*start clint section*/
#allContaint{
	width:1140px;
	margin:auto;
	height:180px;
}

#Clint{
	width:100%;
     background:#dcdcdc;
	 height:820px;
}
#Clint h1 {
    text-align: center;
    width: 665px;
    font-size: 35px;
    margin: auto;
    font-weight: bold;
    padding: 35px;
	color: #ff5722;
}
.headLine {
    width: 315px;
    margin: 31px;
    height: 120px;
    line-height:20px;
	display: inline-block;
}
.images img {
    width: 150px;
    position:relative;
    height: 120px;
	box-shadow: 5px 5px 28px 20px grey;
	border-radius:5px;
	transition: 1s;
    opacity: 0.7;
}
.images:hover img{
	transform: scale(1.2);
	opacity: 1;
}
.headLine h2{
	position:absolute;
	top:2250px;
	left:300px;
	text-transform:uppercase;
	font-size: 18px;
}
.headLine h3{
	position:absolute;
	top: 2275px;
	left:300px;
	text-transform:capitalize;
	font-size: 17px;
}
span {
    color: #FF5722;
}
#important{
	display:inline-block;
}
.mission {
    margin: 10px;
    width: 640px;
    background: white;
    height:470px;
    line-height: 65px;
    margin-left: 80px;
}
.mission h3{
	margin-left: 125px;
    font-size: 20px;
}
.FAQ {
    color: blue;
    font-size: 35px;
    padding: 30px;
	font-weight: bold;
}.table {
    display: inline-block;
    width: 370px;
    position: absolute;
    top: 2390px;
    left: 900px;
    background: #1A1364;
    height:470px;
}
.table h2{
   text-align:center;
       color: white;
    font-size: 31px;
    padding: 20px;
}
.from{
	padding:10px;
}
.name {
    padding: 8px;
    padding-right: 80px;
    margin-left: 40px;
    line-height: 10px;
}
.email{
	padding: 8px;
    padding-right: 80px;
    margin-left: 40px;
    line-height: 10px;
	margin-top:15px;
}
.Comment{
     padding:5px;
	 margin: 10px;
    margin-left: 42px;
}
.submit {
    margin-left: 105px;
    padding: 12px 30px;
    border: 1px solid;
    background: #bf3e15;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
	transition: all 0.8s;
}
.submit:hover{
	background:transparent;
	transform:scale(.8);
}
 /*End clint section*/

/* start foter section*/
#foter-Section{
    width: 100%;
    height:365px;
    background:#1A1364;
    position: relative;
}
.main-foter{
    width: 320px;
    position: relative;
    display: block;
    line-height: 25px;
    color: white;
}
.main-foter h3{
    text-transform: uppercase;
    width: 122px;
    position: absolute;
    top: 55px;
    left: 50px;
    letter-spacing: 2px;
 } 
.main-foter h4 {
    position: absolute;
    top: 115px;
    left: 50px;
    width: 230px;
    letter-spacing: 2px;
}
.main-foter p {
    position: absolute;
    top: 155px;
    left: 55px;
    width: 366px;
    color: #7b7b7b;
    text-align: justify;
    text-transform: capitalize;
}
.main-foter h3 span{
    border-bottom: 2px solid orangered;
}
.com {
    position: absolute;
    top: 55px;
    left: 530px;
}
.com h3{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}
.com h3 span{
    border-bottom: 2px solid orangered;
}
.contract{
    position: absolute;
    top:55px;
    left:950px;
    line-height: 30px;
    width:380px;
}
.contract h3{
    text-transform: uppercase;
    color: white;
}
.contract h3 span{
    border-bottom: 2px solid orangered;
    letter-spacing: 2px;
}
.contract h4{
    color: wheat;
    line-height:100px;
    font-size:22px;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.contract h5{
    font-size: 15px;
    color: wheat;
    top:85px;
    left:90px;
    letter-spacing: 2px;
    position: absolute;
}
sapn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contract h2{
        color: wheat;
        text-transform: capitalize;
}
.contract h2 span {
    font-size:20px;
    text-transform: lowercase;
}
.icon-links {
    padding: 60px 35px;
    width:220px;
}
.faceBook,
 .twitter,
 .yahoo{
    border: none;
    padding: 6px;
    font-size: 2rem;
    border-radius: 10px;
    background: #823315eb;
    margin-right: 9px;
    transition:0.7s;
 }
.yahoo:hover{
    transform: scale(1.3);
    background: white;
}
.faceBook:hover{
    transform: scale(1.3);
    background: white;
}
.twitter:hover{
    transform: scale(1.3);
    background: white;
}
#Details{
    background:#1a1554;
    height: 100px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #3a3a3a;
    color: white;
}
#Details h5{
    font-size:17px;
    text-transform: capitalize;
    padding-top: 30px;
    letter-spacing: 2px;
    box-shadow: 3px 13px 10 burlywood;
}
#Details h6{
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}
/*End foter section*/
