
/* start header section*/
*{
    margin: 0;
    padding: 0;
}
#navMenu{
    background:
    linear-gradient(#00000075,#00000075),
    linear-gradient(#00000075,#00000075),
    url(images/aclt426-pj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}
.navigation{
    width: 100%;
    border-bottom: 2px solid #001d38;
}
.logo{
    color:orangered;
    font-size: 49px;
    line-height:80px;
    text-transform: uppercase;
    padding: 0px 100px;
    font-weight: bold;
    text-shadow: 4px 4px 2px #0c0f10;
}
.navBar{
    font-family: arial black;
    float: right;
    list-style: none;
    padding:5px 30px;
}
.navBar li{
    display: inline-block;
    line-height: 80px;
}
.navBar li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: arial;
}
.navBar li a:hover{
    background: transparent;
    color: #ffff05;
    transition:1s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
.title {
    width: 1050px;
    height: 500px;
    float: right;
    line-height: 61px;
    margin-top:200px;

}
.title h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: arial;
    letter-spacing: 5px;
    margin-left:180px;
    width: 500px;
    font-weight: 400;
    opacity: 1;
}
.title h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(255 255 255);
    font-size: 45px;
    margin-left: 100px;
    font-family: arial black;
    line-height: 40px;
}
.title h1 span{
    color: orangered;
    font-family: arial black;
}
/*End Header section*/


/*start since section*/
.company{
    width:950px;
    height: 120px;
    background:#012641;
    display: flex;
    margin:auto;
    z-index:1;
    position:relative;
    margin-top: -30px;
    margin-bottom: -30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 17px 20px 5px;

}
.company h1 {
    width:602px;
    text-transform: uppercase;
    padding: 45px 30px;
    font-family: arial;
    font-size: 20px;
    color:#ffffff;
}

.company a{
    position: relative;
    text-align: center;
    justify-content: end;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size:20px;
    margin-left: 100px;
    height: 28px;
    margin-top: 35px;
    color:#ff5722;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    font-family: arial;

}
.company a:nth-child(1){
    filter: hue-rotate(115deg);
}
.company a:hover{
    color: #111;
    background:#ff5722;
    border-radius: 5px;
    box-shadow: 0 0 50px #ff5722;
    transition-delay:0.5s;
}
.company a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff5722;
    border-left: 2px solid #ff5722;
    transition:0.5s;
    transition-delay: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);

}
.company a:hover:before{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;

}
.company a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ff5722;
    border-right: 2px solid #ff5722;
    transition: 0.5s;
    transition-delay: 0.5s;

}
.company a:hover:after{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
}

/*End since section*/
/* start our services section*/
#main-heading{
    background:#ffffff;
    padding: 30px;
}
#main-heading h1 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid orangered;
    width: 280px;
    margin-left: 510px;
    padding: 10px 0px 0px 0px;
    border-radius: 3px;
}
#allBlock{
    width: 100%;
    background: #6b6b57;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 2px solid olive;
 }
 #mainIcon{
     margin-top:50px;
 }
  #allBlock h2 {
     width: 265px;
     margin-left: 530px;
     font-size: 33px;
     color:#000000;
     padding:10px;
     font-weight: bold;
     text-transform: uppercase;
     border-bottom: 2px solid#bec700;
     line-height: 12px;
     border-radius: 4px;
     padding-top: 70px;
 } 
 .allIcons{
    background:#d0bbbb85;
     width:340px;
     border: 1px solid #d0bbbb85;
     border-radius: 2px;
     box-shadow:2px 6px 16px 9px #6d3c3cc2;
     overflow: hidden;
     margin-top: 30px;
     margin-left: 45px;
     display:inline-block;
     padding: 20px;
     animation-name:xoom;
     animation-duration: 1s;
     margin-bottom:10px;
 }
 .icon{
   width: 80px;    
 }
 .head {
    width: 240px;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
}
 .icon a{
     color:#11686be8;
     font-size: 70px;
     float:left;
     margin-top: 40px;
 }
 .icon:hover a{
     color: tomato;
 }
 .head h3{
     text-transform: uppercase;
     font-family: arial black;
     margin-bottom: 10px;
 }
 .head:hover h3{
     color:#FF5722;
 }
 .head p{
     text-align:justify;
 }
  .allIcons:hover{
            background:#101720;
            transform:scale(1.1);
            transition: all 1s;
            cursor: pointer;
            color: white;
 }
 @keyframes xoom{
      from {transform:scale(0.1)}
      to {transform:scale(1)}
 }
 #Block2{
     width: 350px;
 } 
 #allBlock h2 span{
     color: orangered;
 }
 /*End our service section*/
 

 /* start working tite*/
  #Banner{
     background:
     linear-gradient(#00000095,#00000095), 
     linear-gradient(#00000095,#00000095),
     url(images/0db37be446e511e8b9600230307e22f4.jpg);
     height: 670px;
     background-repeat:no-repeat;
     background-size: cover;
     padding: 30px;
}
#Banner h1{
    box-sizing: border-box;
    font-size:35px;
    color:#ff5722;
    padding: 35px;
    text-transform: uppercase;
}
#Banner h1 span{
    color: white;
    border-bottom: 2px solid #FF5722;
}
.main-Banner{
    box-sizing: border-box;
    display: flex;
}
.Banner-Img{
    width: 350px;
    height: 500px;
    margin:30px;
    position: relative;

}
.Banner-Img:hover img{
    box-shadow:4px 13px 10px 3px ;
    transform: scale(1.1);
}
.Banner-Img img{
    width: 100%;
    height: 100%;
    margin:15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px #3E314A;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-left: 60px;
    cursor: pointer;

}
.text{
    box-shadow: 4px 13px 10px 3px;
    font-size: 35px;
    position: absolute;
    top: 460px;
    left:140px;
    text-transform: uppercase;
    cursor: pointer;
}
.text:hover{
    background: #150e17;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
 /*End working tite*/
/* start foter section*/
#foter-Section{
    width: 100%;
    height:365px;
    background: #1a1a1a;
    position: relative;
}
.main-foter{
    width: 320px;
    position: relative;
    display: block;
    line-height: 25px;
    color: white;
}
.main-foter h3{
    text-transform: uppercase;
    width: 122px;
    position: absolute;
    top: 55px;
    left: 50px;
    letter-spacing: 2px;
 } 
.main-foter h4 {
    position: absolute;
    top: 115px;
    left: 50px;
    width: 230px;
    letter-spacing: 2px;
}
.main-foter p {
    position: absolute;
    top: 155px;
    left: 55px;
    width: 366px;
    color: #7b7b7b;
    text-align: justify;
    text-transform: capitalize;
}
.main-foter h3 span{
    border-bottom: 2px solid orangered;
}
.com {
    position: absolute;
    top: 55px;
    left: 530px;
}
.com h3{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}
.com h3 span{
    border-bottom: 2px solid orangered;
}
.contract{
    position: absolute;
    top:55px;
    left:950px;
    line-height: 30px;
    width:380px;
}
.contract h3{
    text-transform: uppercase;
    color: white;
}
.contract h3 span{
    border-bottom: 2px solid orangered;
    letter-spacing: 2px;
}
.contract h4{
    color: wheat;
    line-height:100px;
    font-size:22px;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.contract h5{
    font-size: 15px;
    color: wheat;
    top:85px;
    left:90px;
    letter-spacing: 2px;
    position: absolute;
}
sapn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contract h2{
        color: wheat;
        text-transform: capitalize;
}
.contract h2 span {
    font-size:20px;
    text-transform: lowercase;
}
.icon-links {
    padding: 60px 35px;
    width:220px;
}
.faceBook,
 .twitter,
 .yahoo{
    border: none;
    padding: 6px;
    font-size: 2rem;
    border-radius: 10px;
    background: #823315eb;
    margin-right: 9px;
    transition:0.7s;
 }
.yahoo:hover{
    transform: scale(1.3);
    background: white;
}
.faceBook:hover{
    transform: scale(1.3);
    background: white;
}
.twitter:hover{
    transform: scale(1.3);
    background: white;
}
#Details{
    background:#2a2a2a;
    height: 100px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #3a3a3a;
    color: white;
}
#Details h5{
    font-size:17px;
    text-transform: capitalize;
    padding-top: 30px;
    letter-spacing: 2px;
    box-shadow: 3px 13px 10 burlywood;
}
#Details h6{
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}
/*End foter section*/
